profile-prestador {
    .circle{
        border-radius: 50%;
        margin:20px auto 0 auto;

    }
    
    ion-avatar{
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: auto;
        margin-right:auto;
        background: transparent;;
    }

    h2{
        font-weight: bold;
    }

}
