page-solicitacao-servico {
    .area-text{
        height: auto px; 
        overflow: hidden;
        white-space: normal; 
        display: block;
        border-color: transparent;
    }

    .decrement{
        float:left;font-size:25px;margin:10px 10px 10px 10px;
    }

    .increment{
        font-size:25px;margin:10px 10px 10px 10px; 
    }
}
