page-avaliacao {

  .boxProfile{
    height: 330px;

  }

.planoDeFundo{
    background-image: url("../assets/imgs/planoDeFundo.png");
    background-position-y: -150px;
    height: 200px;
  

} 

    .text-area{
        border : solid 1px;
        height: 100px;
    }

    .area-confirmation{
      height: auto px; 
      overflow: hidden;
      white-space: normal; 
      display: block;
      border: solid;
      border-color: transparent;  
  }

    .boxMascote{
        margin-top: 50px;
        height: auto;           
      }
  
      .mascote{
        width:150px;
        height: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
      }
      
      font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
