page-profile-prestador {
    .pageLocal{
        width: 98%;
        background: #fff;
        margin-left: auto;
        margin-right: auto;
    
    }

    ion-content { 
        background-image: url("../assets/imgs/background_1.jpg") !important; 
        }
    
    .boxProfile{
        height: 310px;

    }

    .planoDeFundo{
        background-image: url("../assets/imgs/planoDeFundo.png");
        background-position-y: -150px;
        height: 200px;

    }

    profile-prestador p{
        color: rgb(0, 0, 0);
        font-size: 15px;
        margin-top: -3px;
    }
    
    .img-circle{
        border-radius: 50%;
    }

    #avaliable{
        height: 160px;
    }

    #avaliable ion-rating{
        font-size: 12px;
        float: left;
    }


    .head-avaliable{
        margin-top: 10px;
    }

    ion-thumbnail{
        padding-top: 25px;
        height:140px;
    }
    .title-rating{
        border:3px solid;
        border-color: transparent;
    }

    .area-void{
        height: 30px; 
        overflow: hidden;
        white-space: normal; 
        display: block;
        border-color: transparent;

    }

    .area-coments{
        height: auto px; 
        overflow: hidden;
        white-space: normal; 
        display: block;
        border: solid;
        border-color: transparent;  
    }

    .text-area{
        height: auto px; 
        overflow: hidden;
        white-space: normal; 
        display: block;
        border-color: transparent;
    }

 

    .divPort{
        width:100px; 
        height:100px;
        margin-bottom: -7px;
        margin-right: -15px;    
    }
    
    .imagePort{
        width:100px; 
        height:100px;

    }

    #divTitle{
        padding-top: 0PX;
        color:#000;
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-block-start-color: #999;
        border-block-end-style:solid;
        border-block-end-width: 1px;
        border-block-end-color: #999;
        height: 50px;

    }
    .buttonfloat{
        float: left;    
        font-size: 18px;
        padding-bottom: 10px;

    }

    .labelAction{
        font-size: 18px;
        color:red; 
        padding-right:25px;
        font-weight:bold
    }
}
