page-profile-prestador {
    .circle{
        width: 50%;
        border-radius: 50%;
        margin:25% auto 0 auto;
    }

    .img-circle{
        border-radius: 50%;
    }

    #avaliable{
        height: 160px;
    }

    #avaliable ion-rating{
        font-size: 12px;
        float: left;
    }


    .head-avaliable{
        margin-top: 10px;
    }

    ion-thumbnail{
        height:140px;
    }
    .title-rating{
        border:3px solid;
        border-color: transparent;
    }

    .area-void{
        height: 30px; 
        overflow: hidden;
        white-space: normal; 
        display: block;
        border-color: transparent;

    }

    .area-coments{
        height: 82px; 
        overflow: hidden;
        white-space: normal; 
        display: block;
        border: solid;
        border-color: transparent;

        
    }

    #divTitle{
        padding-top: 0PX;
        color:#000;
        border-block-start-style: solid;
        border-block-start-width: 1px;
        border-block-start-color: #999;
        border-block-end-style:solid;
        border-block-end-width: 1px;
        border-block-end-color: #999;
        height: 50px;

    }
    .buttonfloat{
        float: left;    
        font-size: 18px;
        padding-bottom: 10px;

    }

    .labelAction{
        font-size: 18px;
        color:red; 
        padding-right:25px;
        font-weight:bold
    }
}
