profile-client {
    
    .circle{
        border-radius: 50%;
        margin:70px auto 0 auto;

    }
    
      img{
        width: 200px;
        height: 200px;
    }
    
    ion-avatar{
        margin-top: -40px;

        
    }

    h2{
        font-weight: bold;
    }
}
