profile-client {
    
    .circle{
        border-radius: 50%;
        margin:25% auto 0 auto;

    }
    
    ion-avatar{
        margin-top: -40px;

        
    }

    h2{
        font-weight: bold;
    }
}
