page-home {
    ion-content{
    background-image: url("../assets/imgs/tela_inicial.jpg");
    background-size: 100%;
    background-position:center;
    background-repeat:repeat-y;   
    }
    
    form{
        margin-top: 110%;  
        padding-bottom: 2%;
        position: relative;
        background-color:aliceblue;
    }
}
