<!--
  Generated template for the PedidoDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title >Detalhes do Pedido</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div>
        <div *ngIf="pedido?.statusPagamento == 'ABERTO'" class="borderEnd ">
          <h2 style="background: red;color: #ffffff" text-center>Pedido #{{pedido?.id}} </h2>         
        </div> 
        <div *ngIf="pedido?.statusPagamento == 'FECHADO'" class="borderEnd ">
            <h2 style="background: rgb(0, 199, 10);color: #ffffff" text-center>Pedido #{{pedido?.id}} </h2>         
        </div> 

        <div>
            <profile-prestador 
            [prestador_id]= pedido?.prestador.id 
            [prestador_nomeFantasia] = pedido?.prestador.nomeFantasia
            [prestador_slogan] = pedido?.prestador.slogan
            [prestador_img] ="pedido?.prestador.imageUrl || 'assets/imgs/avatar-blank.png'"
            ></profile-prestador>
        </div>     
        
           <p class="subTitle">Produto / Serviço </p> 
          <p>{{pedido?.produtoServico}}</p>
          <p class="subTitle">Data do orçamento</p>
          <p> {{dateFormatBr}}</p> 
          <h3 text-center  class="subTitle" >Itens do Pedido</h3>
          <div *ngFor="let itemPedido of itensPedido;">  
              <h6>{{itemPedido?.item}}</h6>
              <div ion-item>
                  <p>Quantidade : {{itemPedido?.quantidade}}</p>
                  <p>Desconto : {{itemPedido?.desconto| currency}}</p>
                  <p>Valor : {{itemPedido?.valor| currency}}</p>
                  <p>sub-Total : {{itemPedido?.subTotal| currency}}</p>
              </div> 
           </div>   
           <p style="font-weight: bold">Desconto geral no pedido : {{pedido?.desconto| currency}}</p> 
           <h3 text-center class="subTitle">Totais do Pedido</h3>
           <div  ion-item >
                <p>Desconto: </p> 
                <p>Total   : {{pedido?.total| currency}}</p>
           </div>

           <div *ngIf="pedido?.statusPagamento != 'FECHADO'">
              <button  block  ion-button>confirmar pagamento do pedido?</button>  
              <button  block  ion-button> o atendimento não foi realizado!</button>
           </div>

           <div  *ngIf="pedido?.statusPagamento == 'FECHADO' ">
              <h6 text-center style="color: rgb(0, 199, 10)">Este pedido já foi finalizado e pago!</h6>
           </div>   
      </div>     
</ion-content>
