page-profissao {
    ion-content{
        background-image: url("../assets/imgs/background_1.jpg");
        background-size: 100%;
        background-position:center;
        background-repeat:repeat-y;   
        }
        
    ion-item {
        background:#999; 
     }        
}
