<!--
  Generated template for the PedidoListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button  ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
        </button> 
    <ion-title >Meus Pedidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <br/>
    <div class="page">   
        <ion-item style="margin-bottom: 30px">
            <ion-label stacked> Filtro de vizualiação : </ion-label>
            <ion-select>
                <ion-option  [selected]=true>Todos</ion-option>
                <ion-option  >Pendente</ion-option>
                <ion-option  >Realizado</ion-option>
                <ion-option  >Cancelado</ion-option>
                
            </ion-select>
        </ion-item>

        <ion-grid>
            <ion-row text-center>  
                  <button ion-item *ngFor="let pedido of pedidos" (click)= " showPedidos(pedido.id)">
                    <h1 style="margin-bottom:10px">Pedido #{{pedido.id}}</h1>
                    
                    <p>Prestador : {{pedido.prestador}}</p>
                    <p>Produto / Serviço : {{pedido.produtoServico}} </p>
                    <p>Total : {{pedido.total | currency}}</p>
                    <p *ngIf="pedido.atendimento =='REALIZADO'">
                      Status do Atendimento:<b style="color:rgb(0, 199, 10)">{{pedido.atendimento}}</b></p>
                    <p *ngIf="pedido.atendimento !='REALIZADO'">
                      Status do Atendimento : <b style="color:red">{{pedido.atendimento}}</b></p>
                    <p style="font-weight: bold" text-center>...</p>
                    <p style="float:right;color: blue"> ver detalhes</p>  
                </button>  
              </ion-row>
        </ion-grid>
   </div>        
</ion-content>
