
<ion-header>
    <ion-navbar>
          <button  ion-button menuToggle>
                  <ion-icon name="menu"></ion-icon>
          </button> 
      <ion-title >Minhas Solicitações</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <br/>    
    
    <ion-searchbar placeholder=" qual a profissão solicitada?"></ion-searchbar>    
   <ion-grid>
      <ion-row text-center  *ngFor="let item of solicitacoes ;">  
            <button ion-item  (click)="showSolicitacao(item.id)">   
              <h1 style="margin-bottom:10px">Solicitação #{{item.id}}</h1>
              <p>Produto / Serviço : {{item.produtoServico}} </p>
              <p>Profissional Solicitado : {{item.profissao}}</p>
              <p *ngIf="item.statusSolicitacao == 'ABERTA'">
                  Status:<b style="color:rgb(0, 199, 10)">{{item.statusSolicitacao}}</b></p>
              <p *ngIf="item.statusSolicitacao == 'FECHADA'">
                  Status:<b style="color:red">{{item.statusSolicitacao}}</b></p>     
          </button> 
          <button block  ion-button (click)="showListOrcamentos(item.id)">Ver Orçamentos!</button> 
      </ion-row>
          
   </ion-grid>   
  </ion-content>
  