
<ion-header>
    <ion-navbar>
          <button  ion-button menuToggle>
                  <ion-icon name="menu"></ion-icon>
          </button> 
      <ion-title >Solicitações Recebidas</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <br/>  
    <div class="page">
        <form  [formGroup]="formGroup">   
            <ion-item style="margin-bottom: 30px">
                <ion-label stacked > Filtro de vizualiação : </ion-label>
                <ion-select  formControlName="filtro" (ionChange)="findByProAndSituacao()">
                    <ion-option  [value]=0  [selected]=true >Todas</ion-option>
                    <ion-option  [value]=1  >Abertas</ion-option>
                    <ion-option  [value]=2 >Fechadas</ion-option>
                </ion-select>
            </ion-item> 
        </form> 
            
        <ion-grid>
            <ion-row text-center  *ngFor="let solicitacao of solicitacoes ;">  
                    <button ion-item  (click)="showSolicitacao(solicitacao.id)">   
                    <h1 style="margin-bottom:10px">Solicitação #{{solicitacao.id}}</h1>
                    <p>Produto / Serviço : {{solicitacao.produtoServico}} </p>
                    <p>Cliente : {{solicitacao.cliente}}</p>
                    <p *ngIf="solicitacao.situacao == 'ABERTA'">
                        Status:<b style="color:rgb(0, 199, 10)">{{solicitacao.situacao}}</b></p>
                    <p *ngIf="solicitacao.situacao == 'FECHADA'">
                        Status:<b style="color:red">{{solicitacao.situacao}}</b></p> 
                    <p style="font-weight: bold" text-center>...</p>
                    <p style="float:right;color: blue"> ver detalhes</p>        
                </button> 
                
            </ion-row>
        </ion-grid>
    </div>       
  </ion-content>
  